* {
  padding: 0;
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-pallete {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-right: 12px;
}

.color-pallete__item {
  width: 48px;
  height: 48px;
  border-radius: 6px;
  cursor: pointer;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
